<div class="toolbar d-flex align-items-stretch">
    {{#if this.account}}
        <div class="account d-flex">
            <div class="user">
                <svg viewBox="0 0 256 256" xmlns="http://www.w3.org/2000/svg"><g fill="none" fill-rule="evenodd"><circle cx="128" cy="128" r="127.15" fill="#00A8FF"/><path d="M118.746 208.271c-4.407 0-8.068-.495-10.983-1.484-2.916-.99-5.22-2.098-6.916-3.327-1.694-1.228-2.88-2.405-3.559-3.531-.678-1.126-1.017-1.86-1.017-2.201 0-1.228.271-2.542.814-3.94a19.222 19.222 0 012.034-3.89c.813-1.195 1.695-2.201 2.644-3.02.949-.82 1.796-1.229 2.542-1.229.95 0 1.729.614 2.34 1.843l1.016 1.023c.542.546 1.305 1.11 2.288 1.69.983.58 2.204 1.108 3.661 1.586 1.458.478 3.17.717 5.136.717 4.271 0 7.762-1.314 10.474-3.941 2.712-2.628 4.068-6.193 4.068-10.697 0-3.14-.729-5.937-2.186-8.394-1.458-2.456-3.373-4.742-5.746-6.858-2.373-2.115-5.085-4.18-8.136-6.193a643.605 643.605 0 01-9.356-6.295 129.45 129.45 0 01-9.356-7.063 47.114 47.114 0 01-8.135-8.7c-2.373-3.276-4.288-6.978-5.746-11.107-1.458-4.128-2.186-8.854-2.186-14.177 0-4.572.78-9.178 2.339-13.819 1.559-4.64 3.712-9.059 6.457-13.256 2.746-4.196 5.983-8.12 9.712-11.771a70.258 70.258 0 0112.102-9.52c4.339-2.695 8.864-4.81 13.576-6.346 4.712-1.536 9.44-2.303 14.187-2.303 4.067 0 7.728.648 10.983 1.945 3.254 1.296 6 3.122 8.237 5.476s3.966 5.186 5.186 8.496c1.22 3.31 1.83 7.012 1.83 11.106 0 3.89-.677 7.711-2.033 11.465a49.045 49.045 0 01-5.39 10.645 62.134 62.134 0 01-7.576 9.264c-2.814 2.832-5.695 5.289-8.644 7.37-2.95 2.081-5.814 3.702-8.593 4.862-2.78 1.16-5.22 1.74-7.322 1.74-1.831 0-3.475-.426-4.933-1.28-1.457-.852-2.678-1.91-3.66-3.172a15.757 15.757 0 01-2.289-3.993c-.542-1.398-.813-2.644-.813-3.736 0-.887.118-1.467.356-1.74.237-.273.576-.392 1.016-.358.441.034 1 .136 1.678.307.678.17 1.458.256 2.34.256 2.847 0 6-.99 9.457-2.969 3.458-1.979 6.712-4.504 9.763-7.574a46.888 46.888 0 007.678-10.134c2.068-3.685 3.101-7.268 3.101-10.748 0-3.549-.864-6.346-2.593-8.394-1.729-2.047-4.66-3.07-8.796-3.07-2.577 0-5.373.494-8.39 1.484-3.017.99-6.051 2.371-9.102 4.145-3.05 1.775-6 3.924-8.847 6.45a49.88 49.88 0 00-7.526 8.342 42.68 42.68 0 00-5.237 9.826c-1.322 3.515-1.983 7.183-1.983 11.004 0 4.026.729 7.626 2.186 10.8a32.724 32.724 0 005.797 8.649c2.407 2.593 5.135 4.981 8.186 7.165s6.17 4.35 9.356 6.5a231.5 231.5 0 019.356 6.653 52.76 52.76 0 018.187 7.575 35.145 35.145 0 015.796 9.213c1.458 3.378 2.187 7.25 2.187 11.618 0 4.23-.797 8.24-2.39 12.027-1.593 3.788-3.78 7.08-6.56 9.878s-6.067 5.016-9.864 6.654c-3.796 1.637-7.864 2.456-12.203 2.456z" fill="#FFF"/></g></svg>
                <div class="d-flex user-name">
                    <h5>{{this.account.name}}</h5>
                    <strong>@{{this.account.authority}}</strong>
                </div>
            </div>
            <button {{action logout}} class="btn btn-outline-secondary logout">Log Out</button>
        </div>
    {{else}}
        <button {{action login}} class="btn btn-outline-secondary login">Log in with Scatter</button>
    {{/if}}

    <a class="d-none d-md-flex pub" href="https://medium.com/eon-llc/how-to-use-rem-chain-dapps-3861df7bbaa2?source=rss----745662ffaffe---4" target="_blank" rel="noopener noreferrer">
        <svg viewBox="0 0 24 24" class="icon"><path d="M4.37,7.3C4.4,7.05 4.3,6.81 4.12,6.65L2.25,4.4V4.06H8.05L12.53,13.89L16.47,4.06H22V4.4L20.4,5.93C20.27,6.03 20.2,6.21 20.23,6.38V17.62C20.2,17.79 20.27,17.97 20.4,18.07L21.96,19.6V19.94H14.12V19.6L15.73,18.03C15.89,17.88 15.89,17.83 15.89,17.59V8.5L11.4,19.9H10.8L5.57,8.5V16.14C5.5,16.46 5.63,16.78 5.86,17L7.96,19.57V19.9H2V19.57L4.1,17C4.33,16.78 4.43,16.46 4.37,16.14V7.3Z" /></svg>
        Not sure how to use a REM dApp? This guide will help you.
    </a>

    {{#if (not this.creating)}}
        {{#link-to "rem.polls.new" class="btn btn-outline-secondary new-poll" disabled=(not this.account)}}
            Create New Poll
        {{/link-to}}
    {{/if}}
</div>