{{! template-lint-disable no-inline-styles }}
<div id="rem-benchmarks" class="content">

    <div class="section chart">
        <div class="container">
            <form class="form-inline toolbar">
                <label for="epoch" class="d-none d-md-block">Time Frame:</label>
                <select id="epoch" onchange={{action "updateEpoch" value="target.value"}} class="form-control">
                    {{#if epochs}}
                        {{#each epochs as |e|}}
                            <option value={{e}} selected={{eq epoch e}}>{{e}}</option>
                        {{/each}}
                    {{else}}
                        <option value="" selected="selected">Loading&hellip;</option>
                    {{/if}}
                </select>
                <button class="btn btn-outline-secondary toggle" type="submit" {{action "toggle"}}>Toggle all</button>
                <span class="interval ml-auto d-none d-md-block">
                    interval: <span class="badge badge-pill badge-primary">{{interval}}</span>
                </span>
                <span class="count d-none d-md-block">
                    results: <span class="badge badge-pill badge-primary">{{num_results}}</span>
                </span>
            </form>

            <div class="row">

                <div id="legend" class="col-12 order-sm-last np">

                    {{ember-chart type="line" data=line_chart_data options=line_chart_options}}

                    {{ember-chart type="boxplot" data=box_chart_data options=box_chart_options class="mt-4"}}

                </div>

                <div id="legend" class="col-12 order-sm-first">

                    <ul>
                        {{#each line_chart_data.datasets as |ds|}}
                            <li>
                                <div class="custom-control custom-checkbox">
                                    <input type="checkbox" class="custom-control-input" id={{ds.label}} checked={{not ds.hidden}}>
                                    <label class="custom-control-label" for={{ds.label}} {{action "toggle" ds.label}}>
                                        {{ds.label}}
                                        <span class="marker" style={{ds.marker}}></span>
                                    </label>
                                </div>
                            </li>
                        {{/each}}

                    </ul>
                </div>

            </div>
        </div>
    </div>

    <hr>

    <div class="section">
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-12 col-md-8">
                    <p>Gaps in graph data are not due to producer downtime. Benchmark sampling is randomized; it's possible for a BP to not be sampled during a certain interval window.</p>
                    <p>Contract used to calculate CPU performance for this benchmark is available on <a href="https://github.com/eon-llc/rem-benchmark" target="_blank" rel="noopener noreferrer">GitHub</a>. This benchmark is not an absolute indication of block producer performance.</p>
                </div>
            </div>
        </div>
    </div>

    <hr>

    {{vote-for-us}}

</div>