<div id="rem-polls" class="content">
    <div class="section">
        <div class="container">

            {{bread-crumbs tagName="ul" outputStyle="bootstrap" linkable=true}}

            <PollsToolbar @account={{this.account}} @login={{action "scatterLogin"}} @logout={{action "scatterLogout"}}/>

            <h4>Rem Polls</h4>

            {{#if this.polls}}
                {{#each this.polls as |poll|}}
                    <LinkTo @route="rem.polls.view" @model={{poll.id}} class="poll d-flex">
                        <div class="subject">
                            <label>{{poll.subject}}</label>
                            <span>
                                {{#if poll.description}}
                                    {{truncate-text poll.description limit=50}}
                                {{else}}
                                    No description.
                                {{/if}}
                            </span>
                        </div>
                        <div class="votes">
                            <label>votes</label>
                            <span class="badge badge-pill badge-primary">{{total-poll-votes poll.options poll.is_token_poll}}</span>
                        </div>
                        <div class="votes">
                            <label>type</label>
                            <span class="badge badge-pill badge-primary">{{if poll.is_token_poll 'token' 'account'}}</span>
                        </div>
                        <div class="expires">
                            <label>
                                {{#if poll.is_open}}
                                    ends
                                {{else}}
                                    ended
                                {{/if}}
                            </label>
                            <span class="badge badge-pill badge-primary">
                                {{#if (eq poll.expires_at '1970-01-01T00:00:00.000')}}
                                    never
                                {{else}}
                                    {{moment-from (moment-utc poll.expires_at)}}
                                {{/if}}
                            </span>
                        </div>
                        <div class="for">
                            <label>for</label>
                            <span class="badge badge-pill badge-primary">
                                {{#if (and poll.guardians_only poll.producers_only)}}
                                    producers &amp; guardians
                                {{else if poll.producers_only}}
                                    producers
                                {{else if poll.guardians_only}}
                                    guardians
                                {{else}}
                                    everyone
                                {{/if}}
                            </span>
                        </div>
                    </LinkTo>
                {{/each}}
            {{else}}
                <p>Found 0 polls.</p>
            {{/if}}

        </div>
    </div>

    <hr>

    {{vote-for-us}}
</div>