<div id="rem-polls-view" class="content">
    <div class="section">
        <div class="container">

            {{bread-crumbs tagName="ul" outputStyle="bootstrap" linkable=true}}

            <PollsToolbar @account={{this.account}} @login={{action "scatterLogin"}} @logout={{action "scatterLogout"}}/>

            <div class="summary">

                <div class="stats">
                    <div class="votes">
                        <label>votes</label>
                        <span class="badge badge-pill badge-primary">{{total-poll-votes poll.options poll.is_token_poll}}</span>
                    </div>

                    <div class="type">
                        <label>
                            type
                            <span>
                                {{mdi-icon 'help-circle'}}
                                <BsPopover @triggerEvents="hover">Regular poll is 1 account = 1 vote. A token poll is 1 staked token = 1 vote.</BsPopover>
                            </span>
                        </label>
                        <span class="badge badge-pill badge-primary">{{if poll.is_token_poll 'token' 'account'}}</span>
                    </div>

                    <div class="started">
                        <label>
                            started
                            <span>
                                {{mdi-icon 'help-circle'}}
                                <BsPopover @triggerEvents="hover">Created on {{moment poll.created_at}}</BsPopover>
                            </span>
                        </label>
                        <span class="badge badge-pill badge-primary">{{moment-from (moment-utc poll.created_at)}}</span>
                    </div>

                    <div class="ends">
                        <label>
                            {{#if poll_is_open}}
                                ends
                            {{else}}
                                ended
                            {{/if}}
                            <span>
                                {{mdi-icon 'help-circle'}}
                                <BsPopover @triggerEvents="hover">
                                    {{#if (eq poll.expires_at '1970-01-01T00:00:00.000')}}
                                        This poll has no end date.
                                    {{else}}
                                        <span>This poll will end on {{moment poll.expires_at}}</span>
                                    {{/if}}
                                </BsPopover>
                            </span>
                        </label>
                        <span class="badge badge-pill badge-primary">
                            {{#if (eq poll.expires_at '1970-01-01T00:00:00.000')}}
                                never
                            {{else}}
                                {{moment-from (moment-utc poll.expires_at)}}
                            {{/if}}
                        </span>
                    </div>
                </div>

                <div class="chart">
                    {{ember-chart type="line" data=chart_data options=line_chart_options}}
                </div>
            </div>

            <div class="row">
                <div class="col-12 col-md-7 subject">

                    <h2>{{poll.subject}}</h2>

                    <span class="author">
                        by <a href="https://remme.bloks.io/account/{{poll.user}}" target="_blank" rel="noopener noreferrer">{{poll.user}}</a>
                    </span>

                    <div class="description">
                        {{#if poll.description}}
                            <div class="pre">{{poll.description}}</div>
                        {{else}}
                            No description provided.
                        {{/if}}
                    </div>

                </div>

                <div class="col-12 col-md-5">
                    <div class="vote">
                        <div class="heading">
                            <label>open to:</label>
                            {{#if (and poll.guardians_only poll.producers_only)}}
                                <span class="badge badge-pill badge-primary">producers &amp; guardians</span>
                            {{else if poll.producers_only}}
                                <span class="badge badge-pill badge-primary">producers</span>
                            {{else if poll.guardians_only}}
                                <span class="badge badge-pill badge-primary">guardians</span>
                            {{else}}
                                <span class="badge badge-pill badge-primary">everyone</span>
                            {{/if}}
                        </div>

                        {{#if (and poll_is_open can_vote)}}

                            <form {{action "castVote" on="submit"}}>
                                {{#each poll.options as |option index|}}
                                    <div class="custom-control custom-radio option">
                                        <input type="radio" class="custom-control-input" id={{index}} name="vote" value={{option.name}}>
                                        <label class="custom-control-label" for={{index}}>{{option.name}}</label>
                                    </div>
                                {{/each}}

                                {{#if account}}
                                    <button class="btn btn-block btn-primary" type="submit" id="submit">Vote</button>
                                {{else}}
                                    <span class="not-logged-in">Log In to Vote</span>
                                {{/if}}
                            </form>

                        {{else}}

                            {{#each results as |result index|}}
                                <div class="result">
                                    <span class="d-flex">
                                        <label>{{result.name}}</label>
                                        ({{result.votes}} votes)
                                        {{#if result.voted}}
                                            {{mdi-icon "check-bold"}}
                                        {{/if}}
                                    </span>
                                    <div class="base">
                                        <div class="bar" style={{result.width}}></div>
                                    </div>
                                </div>
                            {{/each}}

                        {{/if}}
                    </div>
                </div>
            </div>

            <hr>

            <div class="row">
                <div class="col-12 col-md-7">

                    <form {{action "postComment" on="submit"}} class="new-comment">

                        {{#if this.error}}
                            <p class="error">{{this.error}}</p>
                        {{/if}}

                        <Textarea @id="message" @name="message" @value={{this.message}} class="form-control" @placeholder="Have something to say?" rows="4" required={{true}}/>

                        {{#if account}}
                            <button class="btn btn-block btn-primary" type="submit" id="vote">Post Comment</button>
                        {{else}}
                            <span class="not-logged-in">Log In to Comment</span>
                        {{/if}}
                    </form>

                    <div class="comments">
                        {{#if comments}}
                            {{#each comments as |comment|}}
                                <div class="comment">

                                    <header>
                                        <span class="avatar">{{mdi-icon 'account-circle'}}</span>
                                        <span class="info">
                                            <span class="name">
                                                <a href="https://remme.bloks.io/account/{{comment.user}}" target="_blank" rel="noopener noreferrer"><strong>{{comment.user}}</strong></a>
                                            </span>
                                            <span class="timestamp">
                                                on {{moment-format (utc comment.created_at) 'MM/DD/YYYY'}}
                                            </span>
                                        </span>
                                    </header>

                                    <div>{{comment.message}}</div>

                                </div>
                            {{/each}}
                        {{else}}

                            <div class="no-comments">
                                {{mdi-icon 'message-text'}}
                                No Comments.
                            </div>
                        {{/if}}
                    </div>

                </div>
            </div>
        </div>
    </div>

    <hr>

    {{vote-for-us}}
</div>