<div id="rem-polls-view" class="content">
    <div class="section">
        <div class="container">

            {{bread-crumbs tagName="ul" outputStyle="bootstrap" linkable=true}}

            <PollsToolbar @account={{this.account}} @login={{action "scatterLogin"}} @logout={{action "scatterLogout"}}/>

            <div class="summary">

                <div class="stats">
                    <div class="votes">
                        <label>votes</label>
                        <span>{{total-poll-votes poll.options poll.is_token_poll}}</span>
                    </div>

                    <div class="type">
                        <label>
                            type
                            <span>
                                {{mdi-icon 'help-circle'}}
                                <BsPopover @triggerEvents="hover">Regular poll is 1 account = 1 vote. A token poll is 1 staked token = 1 vote.</BsPopover>
                            </span>
                        </label>
                        <span>{{if poll.is_token_poll 'token' 'account'}}</span>
                    </div>

                    <div class="started">
                        <label>
                            started
                            <span>
                                {{mdi-icon 'help-circle'}}
                                <BsPopover @triggerEvents="hover">Created on {{moment poll.created_at}}</BsPopover>
                            </span>
                        </label>
                        <span>{{moment-from (moment-utc poll.created_at)}}</span>
                    </div>

                    <div class="ends">
                        <label>
                            ends
                            <span>
                                {{mdi-icon 'help-circle'}}
                                <BsPopover @triggerEvents="hover">
                                    {{#if (eq poll.expires_at '1970-01-01T00:00:00.000')}}
                                        This poll has no end date.
                                    {{else}}
                                        <span>This poll will end on {{moment poll.expires_at}}</span>
                                    {{/if}}
                                </BsPopover>
                            </span>
                        </label>
                        {{#if (eq poll.expires_at '1970-01-01T00:00:00.000')}}
                            <span>never</span>
                        {{else}}
                            <span>{{moment-from (moment-utc poll.expires_at)}}</span>
                        {{/if}}
                    </div>
                </div>

                <div class="chart">
                    {{ember-chart type="line" data="" options=line_chart_options}}
                </div>
            </div>

            <div class="row">
                <div class="col-12 col-md-7 subject">

                    <h2>{{poll.subject}}</h2>
                    <div>{{poll.description}}</div>

                </div>

                <div class="col-12 col-md-5">
                    <div class="vote">
                        <div class="heading">
                            <label>open to:</label>
                            {{#if (and poll.guardians_only poll.producers_only)}}
                                <span class="badge badge-pill badge-primary">producers &amp; guardians</span>
                            {{else if poll.producers_only}}
                                <span class="badge badge-pill badge-primary">producers</span>
                            {{else if poll.guardians_only}}
                                <span class="badge badge-pill badge-primary">guardians</span>
                            {{else}}
                                <span class="badge badge-pill badge-primary">everyone</span>
                            {{/if}}
                        </div>

                        {{#if poll_is_open}}

                            {{#if can_vote}}
                                <form {{action "castVote" on="submit"}}>
                                    {{#each poll.options as |option index|}}
                                        <div class="custom-control custom-radio option">
                                            <input type="radio" class="custom-control-input" id={{index}} name="vote" value={{option.name}}>
                                            <label class="custom-control-label" for={{index}}>{{option.name}}</label>
                                        </div>
                                    {{/each}}

                                    <button class="btn btn-block btn-primary" id="submit">Vote</button>
                                </form>
                            {{else}}
                                <div class="voted"><span>You already voted.</span></div>
                            {{/if}}
                        {{else}}
                            <div class="ended"><span>This poll has ended.</span></div>
                        {{/if}}
                    </div>
                </div>
            </div>
        </div>
    </div>

    <hr>

    {{vote-for-us}}
</div>