<div id="highlight">

	<div class="blog">
		{{#if model.blog_stats }}
			<a href={{ model.blog_stats.url }} target="_blank" rel="noopener noreferrer">
				<div class="wrap">
					<span class="label">Latest Blog Post:</span>
					<span class="title">{{ model.blog_stats.title }}</span>
					<span class="author">by {{ model.blog_stats.author }}</span>
					<span class="date"> on {{ model.blog_stats.date }}</span>
				</div>
			</a>
		{{else}}
			<div class="failed">Failed to retrieve data.</div>
		{{/if}}
	</div>

	<div class="github">
		{{#if model.github_stats }}
			<div class="wrap">
				<span class="label">GitHub Stats:</span>
				<div class="items">
					<div class="item">
						<span>{{ model.github_stats.num_repos }}</span>
						<strong>Repos</strong>
					</div>
					<div class="item">
						<span>{{ model.github_stats.num_commits }}</span>
						<strong>Commits</strong>
					</div>
					<div class="item">
						<span>{{ model.github_stats.num_issues }}</span>
						<strong>Issues</strong>
					</div>
				</div>
			</div>
		{{else}}
			<div class="failed">Failed to retrieve data.</div>
		{{/if}}
	</div>

</div>

<div id="summary">
	<div class="container">
		<div class="row">
			<div class="col-12 col-md-4 item about">
				<h3>About Us</h3>
				<p>Eon is proud to be the first and most transparent block producer on REM chain. Every part of our business is verifiable.</p>
				{{#link-to "about"}}
					Get to know us
					<svg class="arrow" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24"><path class="path" d="M2.4 12h19.2M13.7 6l4 3 3.9 3-3.9 3-4 3"/></svg>
				{{/link-to}}
			</div>
			<div class="col-12 col-md-4 item technology">
				<h3>Technology</h3>
				<p>Hosted on AWS, we develop our infrastructure and code in accordance with best industry practices.</p>
				{{#link-to "technology"}}
					Technology that powers us
					<svg class="arrow" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24"><path class="path" d="M2.4 12h19.2M13.7 6l4 3 3.9 3-3.9 3-4 3"/></svg>
				{{/link-to}}
			</div>
			<div class="col-12 col-md-4 item transparency">
				<h3>Transparency</h3>
				<p>Our infrastructure as code makes it possible for anyone to verify the design and security of our architecture.</p>
				{{#link-to "transparency"}}
					Our guiding principles
					<svg class="arrow" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24"><path class="path" d="M2.4 12h19.2M13.7 6l4 3 3.9 3-3.9 3-4 3"/></svg>
				{{/link-to}}
			</div>
		</div>
	</div>
</div>

<div id="projects">
	<div class="container">
		<div class="card">
			<div class="row">
				<div class="col-12 col-md-6 d-flex flex-column justify-content-center align-items-start overview">
					<h4>Our Projects</h4>

					<p>These projects are our contributions to Remme community and ecosystem. We strive to support users, Guardians and Block Producers equally.</p>

					<p>Every vote helps us fund the maintenance of existing projects and development of new ones.</p>

					<a href={{voteURL}} class="btn btn-primary mt-3">
						Vote for Eon
					</a>

				</div>
				<div class="col-12 col-md-5 offset-md-1 items">
					<ul class="list-unstyled">
						<li class="api">
							<a href="https://rem.eon.llc">
								<div class="d-flex flex-row align-items-center">
									<strong>REM chain API</strong>
									<span class="status {{model.api_status }}"><BsTooltip @title={{model.api_status }} /></span>
								</div>
								<p>Use <code>https://rem.eon.llc</code> for your dapp.</p>
							</a>
						</li>
						<li class="benchmark">
							{{#link-to "rem.benchmarks"}}
								<strong>Block Producer Benchmark</strong>
								<p>See how BP performance stacks up.</p>
							{{/link-to}}
						</li>
						<li class="permissions">
							{{#link-to "rem.permissions"}}
								<strong>Account Permissions Check</strong>
								<p>See a detailed breakdown of account permissions.</p>
							{{/link-to}}
						</li>
						<li class="publications">
							<a href="https://medium.com/eon-llc">
								<div class="d-flex flex-row align-items-center">
									<strong>Educational Publications:</strong>
									<span>{{ model.blog_stats.tutorials }}</span>
								</div>
								<p>Learn core concepts of REM chain.</p>
							</a>
						</li>
					</ul>
				</div>
			</div>
		</div>
	</div>
</div>